h2 {
  color: #5088bc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin: 0 0 15px 0;
}

.repository-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.repository-language {
  background-color: #5088bc;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
}
